<div
    style="height: 100%; width: 100%; display: flex; flex-direction: column;"
  >
    <div style="margin-bottom: 5px; min-height: 30px;">
    </div>
    <div style="flex: 1 1 0px;">
      <ag-grid-angular
        style="width: 100%; height: 100vh;"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [rowSelection]="rowSelection"
        [animateRows]="true"
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
    </div>
  </div>